
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap');

body {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #29e2e9f0,#dceaedf0);
  color: #010101;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px; 
  background: linear-gradient(245deg,  #29e2e9f0,#db9315db, #3b7d8bf0);
  height: 50px;
  position: relative;
  z-index: 1000;
}

.nav {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 10px 15px;
  border-right: 1px solid #ffffff;
}

.nav li a:hover {
  background: #1d97b0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo img {
  height: 50px;
  width: 60px;
  object-fit: contain;
}

.ProfilePhotoWrapper {
  text-align: center;
  width: 200px;
  margin-left: 15px;
  margin-right:3px;
}

.picname {
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
}



/* Hero */
.hero {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
}

.hero-video {
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

  .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }

.ProfilePhoto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #ffffff;
  display:flex;
  justify-content: center;
  margin-left: 15px;
  margin-right: 10px;
}
.ProfilePhoto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.picname { margin-top: 10px;
   font-size: 1.1em;
    font-weight: bold;
     color: #333;
}
.about {
  padding: 2rem;
  background: #fff;
  margin: 1rem auto;
  max-width: 800px;
  margin-right: 8px;
  margin-left: 20px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.about h2 {
  margin-bottom: 1rem;
}

.styled-line {
  border: none;
  height: 5px;
  background: linear-gradient(to right, #ffffffdb, #0acb84, #065473);
  margin: 2rem 0;
}

/* Articles */
.writing {
  display: flex;
  flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.writing h2 {
  margin-bottom: 1rem;
}

.writing1 {
  height: 50%;
  width:80%;
  font-family: 'Merriweather', serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  background: #b2d9e6;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #eee;
}
.writing2 {
  font-family: "Tiro Bangla", serif;
  font-weight: 400;
  font-style: normal;
   font-size: 18px;
  height: auto;
  width:80%;
  background: #75c4c7;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #eee;
}

.site-footer {
  background-color: #09041f;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #555;
  border-top: 1px solid #ddd;
}

.site-footer a {
  color: #0077cc;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}





